* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.matrix {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  height: 100vh;
  height: 100svh;
  user-select: none;
  background: url('./assets/img/pngtree-crease-texture-of-rolled-paper-picture-image_1677438.jpg')
    center/cover no-repeat;
}
.matrix__container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  padding: 0.5vh;

  border-radius: 0.5vh;
  background-color: transparent;
}
.matrix__container > div {
  --cell-size: min(14vh, 14vw);
  height: var(--cell-size);
  width: var(--cell-size);
}
.matrix__container > div:nth-child(2),
.matrix__container > div:nth-child(8) {
  background: url('./assets/img/fon6.png') center/cover no-repeat;
}
.matrix__container > div:nth-child(4),
.matrix__container > div:nth-child(6) {
  background: url('./assets/img/fon9.png') center/cover no-repeat;
}
.matrix__container > div:nth-child(5) {
  background: url('./assets/img/fon4.png') center/104% no-repeat;
}
.matrix__container > div:nth-child(4) {
  background-position: 2px center;
}
.matrix__container > div:nth-child(6) {
  background-position: -3px center;
}
.matrix__container > div:nth-child(2) {
  background-position: center 2px;
}
.matrix__container > div:nth-child(8) {
  background-position: center -4px;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score_lines {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.cross,
.circle,
.draw {
  font-size: 20px;
  font-weight: bold;
}
.matrix__option__item {
  display: flex;
}
.matrix__option {
  margin-left: 30px;
  display: flex;
  column-gap: 30px;
}
.matrix__option__item input {
  opacity: 0;
}
.matrix__option__item__label.active {
  color: #fff;
  background-color: rgb(0, 0, 0);
}
.matrix__option__item label {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
}
.matrix__button {
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}
@media (max-width: 950px) {
  .matrix__container > div {
    --cell-size: min(26vh, 26vw);
  }
}
